!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Yuvaan
    %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    -#%link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
      / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -#  / WARNING: Respond.js doesn't work if you view the page via file://
    -#  /[if lt IE 9]
    %script {src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script {src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %img.navbar-brand.page-scroll{src: 'assets/logo.jpg',:href => "#page-top"}
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            %li
              %a.page-scroll{:href => "#services"} Services
            %li
              %a.page-scroll{:href => "#portfolio"} Portfolio
            %li
              %a.page-scroll{:href => "#about"} About
            %li
              %a.page-scroll{:href => "#team"} Team
            %li
              %a.page-scroll{:href => "#contact"} Contact
    / /.navbar-collapse
    / /.container-fluid
    / Header
    %header
      .container
        #myCarousel.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            .item.active
              %img{:alt => "Chania", :height => "250", :src => "assets/1.JPG"}
            .item
              %img{:alt => "Flower", :height => "250", :src => "assets/2.jpg"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/3.JPG"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/4.jpg"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/5.jpg"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/6.JPG"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/7.JPG"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/8.JPG"}
            .item
              %img{:alt => "Flower", :height => "345", :src => "assets/9.JPG"}
          / Left and right controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
    / Services Section
    %section#services
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Services
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
            %h4.service-heading E-Commerce
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-laptop.fa-stack-1x.fa-inverse
            %h4.service-heading Responsive Design
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-lock.fa-stack-1x.fa-inverse
            %h4.service-heading Web Security
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    / Portfolio Grid Section
    %section#portfolio.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Portfolio
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/roundicons.png"}
            .portfolio-caption
              %h4 Round Icons
              %p.text-muted Graphic Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/startup-framework.png"}
            .portfolio-caption
              %h4 Startup Framework
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/treehouse.png"}
            .portfolio-caption
              %h4 Treehouse
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/golden.png"}
            .portfolio-caption
              %h4 Golden
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/escape.png"}
            .portfolio-caption
              %h4 Escape
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/dreams.png"}
            .portfolio-caption
              %h4 Dreams
              %p.text-muted Website Design
    / About Section
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading About
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-lg-12
            %ul.timeline
              %li
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "assets/about/1.jpg"}
                .timeline-panel
                  .timeline-heading
                    %h4 2009-2011
                    %h4.subheading Our Humble Beginnings
                  .timeline-body
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
              %li.timeline-inverted
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "assets/about/2.jpg"}
                .timeline-panel
                  .timeline-heading
                    %h4 March 2011
                    %h4.subheading An Agency is Born
                  .timeline-body
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
              %li
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "assets/about/3.jpg"}
                .timeline-panel
                  .timeline-heading
                    %h4 December 2012
                    %h4.subheading Transition to Full Service
                  .timeline-body
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
              %li.timeline-inverted
                .timeline-image
                  %img.img-circle.img-responsive{:alt => "", :src => "assets/about/4.jpg"}
                .timeline-panel
                  .timeline-heading
                    %h4 July 2014
                    %h4.subheading Phase Two Expansion
                  .timeline-body
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
              %li.timeline-inverted
                .timeline-image
                  %h4
                    Be Part
                    %br
                      Of Our
                      %br Story!
    / Team Section
    %section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Our Amazing Team
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/team/1.jpg"}
                %h4 Kay Garland
                %p.text-muted Lead Designer
                %ul.list-inline.social-buttons
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/team/2.jpg"}
                %h4 Larry Parker
                %p.text-muted Lead Marketer
                %ul.list-inline.social-buttons
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/team/3.jpg"}
                %h4 Diana Pertersen
                %p.text-muted Lead Developer
                %ul.list-inline.social-buttons
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
        .row
          .col-lg-8.col-lg-offset-2.text-center
            %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
    / Clients Aside
    %aside.clients
      .container
        .row
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/envato.jpg"}
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/designmodo.jpg"}
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/themeforest.jpg"}
          .col-md-3.col-sm-6
            %a{:href => "#"}
              %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/creative-market.jpg"}
    / Contact Section
    %section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Contact Us
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-lg-12
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row
                .col-md-6
                  .form-group
                    %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text"}
                      %p.help-block.text-danger
                  .form-group
                    %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email"}
                      %p.help-block.text-danger
                  .form-group
                    %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel"}
                      %p.help-block.text-danger
                .col-md-6
                  .form-group
                    %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => ""}
                    %p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  %button.btn.btn-xl{:type => "submit"} Send Message
    %footer
      .container
        .row
          .col-md-4
            %span.copyright Copyright &copy; Your Website 2014
          .col-md-4
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
          .col-md-4
            %ul.list-inline.quicklinks
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms of Use
    / Portfolio Modals
    / Use the modals below to showcase details about your portfolio projects!
    / Portfolio Modal 1
    #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/roundicons-free.png"}
                  %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  %p
                    %strong> Want these icons in this portfolio item sample?
                    You can download 60 of them for free, courtesy of
                    = succeed "," do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
                    or you can purchase the 1500 icon set
                    = succeed "." do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
                  %ul.list-inline
                    %li Date: July 2014
                    %li Client: Round Icons
                    %li Category: Graphic Design
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 2
    #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Heading
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/startup-framework-preview.png"}
                  %p
                    %a{:href => "http://designmodo.com/startup/?u=787"} Startup Framework
                    is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
                  %p
                    You can preview Startup Framework
                    = succeed "." do
                      %a{:href => "http://designmodo.com/startup/?u=787"} here
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 3
    #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/treehouse-preview.png"}
                  %p
                    Treehouse is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 4
    #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/golden-preview.png"}
                  %p
                    Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/golden-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 5
    #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/escape-preview.png"}
                  %p
                    Escape is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 6
    #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/dreams-preview.png"}
                  %p
                    Dreams is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "js/bootstrap.min.js"}
    / Plugin JavaScript
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/cbpAnimatedHeader.js"}
    / Contact Form JavaScript
    %script{:src => "js/jqBootstrapValidation.js"}
    %script{:src => "js/contact_me.js"}
    / Custom Theme JavaScript
    %script{:src => "js/agency.js"}