!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Yuvaan
    %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %link{:href => "assets/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Kaushan+Script", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}
      / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -#  / WARNING: Respond.js doesn't work if you view the page via file://
    -#  /[if lt IE 9]
    %script {src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script {src: "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %img.navbar-brand.page-scroll{src: 'assets/logo.jpg',:href => "#page-top"}
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}

            %li
              %a.page-scroll{:href => "#news_and_events"} News And Events

            %li
              %a.page-scroll{:href => "#become_volunteer"} Become a Volunteer

            %li
              %a.page-scroll{:href => "#team"} Team

            %li
              %a.page-scroll{:href => "#about"} About

            %li
              %a.page-scroll{:href => "#contact"} Contact


            -#%li
            -#  %a.page-scroll{:href => "#services"} Services
            -#
            -#%li
            -#  %a.page-scroll{:href => "#portfolio"} Portfolio
    / /.navbar-collapse
    / /.container-fluid
    / Header
    %header
      .container
        #myCarousel.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            .item.active
              %img{:alt => "Chania", :src => "assets/1.png"}
            .item
              %img{:alt => "Flower", :src => "assets/3.png"}
            .item
              %img{:alt => "Flower", :src => "assets/4.png"}
            .item
              %img{:alt => "Flower", :src => "assets/5.png"}
            .item
              %img{:alt => "Flower", :src => "assets/6.png"}
            .item
              %img{:alt => "Flower", :src => "assets/7.png"}
            .item
              %img{:alt => "Flower", :src => "assets/8.png"}
            .item
              %img{:alt => "Flower", :src => "assets/9.png"}
          / Left and right controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
    / Services Section
    %section#services
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Services
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
            %h4.service-heading E-Commerce
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-laptop.fa-stack-1x.fa-inverse
            %h4.service-heading Responsive Design
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x.text-primary
              %i.fa.fa-lock.fa-stack-1x.fa-inverse
            %h4.service-heading Web Security
            %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    / Portfolio Grid Section
    %section#portfolio.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Portfolio
            %h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/roundicons.png"}
            .portfolio-caption
              %h4 Round Icons
              %p.text-muted Graphic Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/startup-framework.png"}
            .portfolio-caption
              %h4 Startup Framework
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/treehouse.png"}
            .portfolio-caption
              %h4 Treehouse
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/golden.png"}
            .portfolio-caption
              %h4 Golden
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/escape.png"}
            .portfolio-caption
              %h4 Escape
              %p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
              .portfolio-hover
                .portfolio-hover-content
                  %i.fa.fa-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "assets/portfolio/dreams.png"}
            .portfolio-caption
              %h4 Dreams
              %p.text-muted Website Design

    %section#become_volunteer
      .container
        .row
          .col-lg-12
            %h2.text-center.section-heading Yuvaan Sewavrati (Volunteers)
            %p.class_justify
              ‘Yuvaan’ is building up the youth and inculcating in them social sensitivity, love for the country aand a humane perspective without any kind of caste or religion based discrimination. The Yuvaan Sewavrati Movement is aimed at bringing about constructive change. Through this movement the youth are provided with opportunities to participate in the State and National level youth camps and contribute in various activities of social organisations as ‘Yuvaan Sewavrati’ (volunteers). ‘Yuvaan Movement ‘ enriches and deepens the awareness of social responsibilities among the youth and inspires them to lead a life of hope. ‘Yuvaan’ believes that by increasing the participation of the youth in youth empowerment and constructive activities we  can surely realize the dream of a developed progressive India.
            %p
              %b
                %i
                  To become a volunteer of YUVAAN
                  %a{href: 'http://goo.gl/forms/B2KRgTS1gx', target: '_blank'} Click Here

    / Team Section
    %section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Our Amazing Team

        .row
          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/sandip.png"}
                %h4 Sandip Kusalkar
                %p.text-muted Founder & President

          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/suresh.png"}
                %h4 Suresh Maid
                %p.text-muted Co-Founder & Secretory

          .col-sm-4
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/prasanna.png"}
                %h4 Prasanna Bora
                %p.text-muted Co-Founder & Asst. Secretory

          .row
            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/rakesh.png"}
                  %h4 Rakesh Gore
                  %p.text-muted Co-Founder & Trustee
                  -#%ul.list-inline.social-buttons
                  -#  %li
                  -#    %a{:href => "#"}
                  -#      %i.fa.fa-twitter
                  -#  %li
                  -#    %a{:href => "#"}
                  -#      %i.fa.fa-facebook
                  -#  %li
                  -#    %a{:href => "#"}
                  -#      %i.fa.fa-linkedin
            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/vinayak.png"}
                  %h4 Adv. Vinayak Sangle
                  %p.text-muted Trustee & Legal Adviser

            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/dagdu.png"}
                  %h4 Dagdu Lomte
                  %p.text-muted Vice President

          .row
            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/satish.png"}
                  %h4 Satish Yeole
                  %p.text-muted Trustee & Core Volunteer

            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/snehal.png"}
                  %h4 Snehal Sabale
                  %p.text-muted Co-Founder & Trustee

            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/varsha.png"}
                  %h4 Varsha Mule - Kusalkar
                  %p.text-muted Co-Founder & Trustee
          .row
            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/zaheer.png"}
                  %h4 Dr.Zaheer Mujawar
                  %p.text-muted Trustee & Core Volunteer

            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/sonali.png"}
                  %h4 Sonali Kale
                  %p.text-muted Trustee & Core Volunteer

            .col-sm-4
              .team-member
                %img.img-responsive.img-circle{:alt => "", :src => "assets/arvind.png"}
                  %h4 Arvind Daund
                  %p.text-muted Trustee & Core Volunteer

    / About Section
    %section#about
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading About
            %h3.section-subheading.text-muted
              %b Empowering youth, Empowering Nation
          .col-lg-12
            %p.intro-text  The youth who were inspired by Swami Vivekanand, India’s ex-President Dr. A.P.J. Abdul Kalaam and especially guided by Gandhian Dr. S. N. Subbarao , and who have also been successful in various field, have come together to form the volunteer youth organization, Yuvaan in September 2013. ‘Yuvaan’ provides socially and economically underprivileged orphaned students educational material, career guidance, vocational skills training and lodging and meals  as the need be, free of cost. ‘Yuvaan’ specially focuses its activities to inculcate social sensitivity, brotherhood, love for the country and a humane perspective without discrimination. ‘Yuvaan’ aims to build up the nation by building up character.
        .row
          .col-lg-12
            %ul.timeline
              %li
                .timeline-image
                  %img{:alt => "", :src => "assets/foundation.JPG"}
                .timeline-panel
                  .timeline-heading
                    %h4 November 1, 2013
                  .timeline-body
                    %p.text-muted Dr. S. N. Subbarao inaugurating the Yuvaan, Youth Empowerment Center
    %section#success-stories
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading  Success Stories
            %h3.section-subheading.text-muted
              %b ‘Yuvaan’ and the flight of the Phoenix
        .row
          .col-sm-3
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/bhagyashree.jpg"}
                %h4 Bhyagyashri Surywanshi
          .col-sm-3
            %p.text-justify I have completed my Diploma from Women’s Government Polytechnic, Latur with distinction. I was apprehensive whether I would be able to go on to procure a degree because of my critical  family situation. The only option that I could see available to me was to take up a job to earn my living. At that point of time ‘Team Yuvaan’ extended a helping hand. They helped me to avail admission for further education at reputed  Sanjeevani Engineering College, Kopergoan Dist. Ahmednagar.

          .col-sm-3
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/sambhaji.jpg"}
                %h4 Sambhaji Mohite
          .col-sm-3
            %p.text-justify I was facing many problems for my further education because I did not have any support after I left the govt. aided hostel after 10th.  I was contemplating giving up my studies and earning my living. ‘Team Yuvaan ‘ lent me a helping hand at that juncture. I am now able to concentrate of my studies without worrying about other problems. It is my dream to be useful to my country after completing my ITI followed by private job.


        .row
          .col-sm-3
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/usman.jpg"}
                %h4 Usman Shaikh
          .col-sm-3
            %p.text-justify I was raised in an orphage since I was a small child. I did not have any kind of support after I had to leave the orphanage according to the rules. Even though I was a National player, discrimination often left me disappointed. At that point of time , ‘Team Yuvaan’ extended their brotherly co-operation . They took up my responsibility. I have since then, again begun to dream about bringing glory to India’s name on an International level

          .col-sm-3
            .team-member
              %img.img-responsive.img-circle{:alt => "", :src => "assets/varsha.JPG"}
                %h4 Varsha Gaware
          .col-sm-3
            %p.text-justify  I cant change my physical disability but I can change my attitude towards life. I have realized my strength with the help of Yuvaan.  Now I believe in CHANCE & NOT in CHARITY. Yuvaan has given me that chance to prove myself.  I have a very strong desire to become a honest govt. officer & to make a difference to my community.


    .container
      .partners
        .row
          %p.type
            %strong Partners
        .row.partner-first-row
          .col-md-4.part
            =image_tag("SHANTI.png")
          .col-md-4.part
            =image_tag("ROTARY.jpg")
          .col-md-4.part
            =image_tag("BAJAJ")
        .row.partner-first-row
          .col-md-4.part
            =image_tag("NYP")
          .col-md-4.part
            =image_tag("MAHARASHTRA")
          .col-md-4.part
            =image_tag("SBI")
    / Contact Section
    %section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2.section-heading Contact Us
            %h3.section-subheading.text-muted
              %b You can reach us....
        .row
          .col-lg-12
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row
                .col-md-5
                  .container
                    %p
                      %strong.our-address ADDRESS
                    %br/
                    %address.address-text
                      %p Dr. S. N.Subbarao Youth Empowerment Center
                      %p 1st & 2nd Floor, Seema Apartment, Opp. Sidhi Bag,
                      %p Near New Law College, Delhigate,
                      %p Ahmednagar- 414001
                      %p Maharashtra, India
                      %p Mobile No: 9011118787/ 9822207720
                  -#.form-group
                  -#  %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text"}
                  -#    %p.help-block.text-danger
                  -#.form-group
                  -#  %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email"}
                  -#    %p.help-block.text-danger
                  -#.form-group
                  -#  %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel"}
                  -#    %p.help-block.text-danger
                .col-md-7
                  %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=true", :type => "text/javascript"}
                  %div{:style => "width:650px; height:300px;"}
                    #map-canvas{:style => "width: 100%; height: 100%"}
                    :javascript
                      function initialize() {
                        var mapOptions = {
                          center: new google.maps.LatLng(19.1005681, 74.724818),
                          zoom: 5,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                      var myCenter=new google.maps.LatLng(19.1005681, 74.724818);
                        //var map = new google.maps.Map(document.getElementById("map-canvas"),
                        //    mapOptions);
                      var mapProp = {
                        center:myCenter,
                        zoom:10,
                        mapTypeId:google.maps.MapTypeId.ROADMAP
                        };

                      var map = new google.maps.Map(document.getElementById("map-canvas"),mapProp,mapOptions);

                      var marker = new google.maps.Marker({
                        position:myCenter,
                        });

                      marker.setMap(map);
                      var infoWindow = new google.maps.InfoWindow({
                        content: 'Dr. S. N.Subbarao Youth Empowerment Center (YUVAAN)'
                      });
                      infoWindow.open(map, marker);
                      }
                      google.maps.event.addDomListener(window, 'load', initialize);
      .container
        .row
          .col-md-4
            %span.copyright Copyright &copy; Your Website 2014
          .col-md-4
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
          .col-md-4
            %ul.list-inline.quicklinks
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms of Use
    / Portfolio Modals
    / Use the modals below to showcase details about your portfolio projects!
    / Portfolio Modal 1
    #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/roundicons-free.png"}
                  %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  %p
                    %strong> Want these icons in this portfolio item sample?
                    You can download 60 of them for free, courtesy of
                    = succeed "," do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
                    or you can purchase the 1500 icon set
                    = succeed "." do
                      %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
                  %ul.list-inline
                    %li Date: July 2014
                    %li Client: Round Icons
                    %li Category: Graphic Design
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 2
    #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Heading
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/startup-framework-preview.png"}
                  %p
                    %a{:href => "http://designmodo.com/startup/?u=787"} Startup Framework
                    is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
                  %p
                    You can preview Startup Framework
                    = succeed "." do
                      %a{:href => "http://designmodo.com/startup/?u=787"} here
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 3
    #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/treehouse-preview.png"}
                  %p
                    Treehouse is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 4
    #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/golden-preview.png"}
                  %p
                    Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/golden-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 5
    #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/escape-preview.png"}
                  %p
                    Escape is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / Portfolio Modal 6
    #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                / Project Details Go Here
                %h2 Project Name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/dreams-preview.png"}
                  %p
                    Dreams is a free PSD web template built by
                    = succeed "." do
                      %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                    Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.
                  %p
                    You can download the PSD template in this portfolio sample item at
                    = succeed "." do
                      %a{:href => "http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/"} FreebiesXpress.com
                  %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                    %i.fa.fa-times
                    Close Project
    / jQuery
    %script{:src => "assets/jquery.js"}
    / Bootstrap Core JavaScript
    %script{:src => "assets/bootstrap.min.js"}
    / Plugin JavaScript
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
    %script{:src => "assets/classie.js"}
    %script{:src => "assets/cbpAnimatedHeader.js"}
    / Contact Form JavaScript
    %script{:src => "assets/jqBootstrapValidation.js"}
    %script{:src => "assets/contact_me.js"}
    / Custom Theme JavaScript
    %script{:src => "assets/agency.js"}